@model MvcEshop.ViewModels.User.RecoverMyPasswordViewModel

@{
    ViewBag.Title = Resources.DisplayNames.RecoverPassword;
    ViewBag.LayoutType = "DataEntryForm";
}


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="inputControlWrapper">
                @Html.EditorFor(model => model.Email)
                <div class="validationMessage">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="FormButtonControlWrapper">
                <input type="submit" value=@Resources.DisplayNames.Confirmation class="submit" />
            </div>
        </div>
    </div>
}

