.btn-file input[type=file] {
    position: absolute;
    top: 0;
    width: 50px;
    height: 40px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
 
.btn-upload {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
 
.btn {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}