* {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10pt;
	direction:rtl;	
	margin:0;	
	/*color: #5F5F5F;*/
	text-decoration: none;
}
body {
	background:#F8F8F8;
}
label, span, li a {
	color: #5F5F5F;
}
.div_center {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.header_wrapper {
	width:100%;
	height:100px;
	background:  #558CCC ;/* #448FB9; */
	float:right;
	box-shadow:3px 3px 4px #E0E0E0;
	position:relative;
}
.header {
	height:100px;
	background:url('../images/header.jpg');
}
.system_logo {
	width:300px;
	height:94px;
	float:right;
	display:block;
}
.irandoc_logo {
	width:415px;
	height:94px;
	float:left;
	display:block;
}
.slider_wrapper {
	width:100%;
	float:right;
	background: #F2F2F2; /*#E5E7E8;/*#F8F8F8;	*/
	height:150px;
}
.menu_wrapper {
	width:100%;
	float:right;
	height:63px;
}
.slider {
	width: 995px;
	height: 140px;
	margin: 10px 0px !important;
	background: url('../images/ad1.jpg') !important;
	padding:0 !important;
}
.main_wrapper {
	width:100%;
	min-height: 310px;
	float:right;
	background:#F8F8F8;
}
.box {
	float: right;
	margin-bottom:10px;
	padding:5px;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 3px 3px 4px #E0E0E0;
	background: #fff;
}
.alert {
	width: 701px;
	border-right: 10px solid #83CA6D;
	margin-right: 20px;
	margin-bottom: 0px;
	height: 35px;
	padding: 20px 10px 0px 0px;
}
.alertb {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-box {
	color:#555;
	border-radius:0px;
	padding:5px 15px;
	width:620px;
	line-height: 30px;
	font-size: 9pt;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
	width:42px;
}
.notice {
	background:#F4FAFC  no-repeat 586px 50%;
	border-right: 3px solid #ADD7E8;
}
.success {
	background:#F4FCF4 no-repeat 586px 50%;
	border-right: 3px solid #91EAB1;
}
.alert-boxR {
	color:#555;
	border-radius:0px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:5px 15px;
	width:586px;
	margin-right:30px;
	height:25px;
}
.alert-boxR span {
	font-weight:bold;
	text-transform:uppercase;
	width:42px;
}
.noticeR {
	background:#e3f7fc url('../images/notice.png') no-repeat 765px 50%;
	border:1px solid #8ed9f6;
}
.alert-boxR ul li
{
    font-size :9pt;
    color:#5E6E79;
}
.about {
	width: 600px;
	margin-right: -1px;
	margin-top:10px;
}

div.login
{
    margin-right:0px;
	margin-top:10px;
}

fieldset.login {
	/*width: 300px;*/
	/*margin-right:10px;*/
	margin-top:10px;
	float:right;
}


.register {
	width:870px;
	margin-right:70px;
}
.contactus {
	/*width:550px;*/
	margin-right: 0px;
	margin-top:10px
}
.notFound {
	width:870px;
	margin-right:70px;
	height: 300px;	
}
.change_password {
	height:300px;
}
.title {
	width: 100%;
	height: 28px;
	text-align: center;
	color: #fff;
	padding-top: 9px;
	font-size: 14px;
	background: #30833D;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.12, #30833D), color-stop(1, #2a7435) );
	background: -moz-linear-gradient(center bottom, #30833D 12%, #2a7435 100%);
}
.login span {
	width: 100%;
	float: right;

}
span .row {
	float: right;
	width: 100%;
	min-height: 40px;
	margin-top: 15px;
	margin-right: 10px;
}
.login label {
	float:right;
	width:105px;
}
.register label, .new_request label {
	float:right;
	width:120px;
	margin-top:0px;
}
.register .input_container {
	float:right;
	width:530px;
}
.new_request .input_container {
	float:right;
	width:460px;
}
.validation_msg {
	float:right;
	width:250px;
	color:#FFA402;
	font-size: 12px;
}
.login .validation_msg {
	margin-right:105px;
}
.contactus .validation_msg {
	margin-right:159px;
}
.new_request .validation_msg{
	margin-right:118px;
	line-height:20px;
}
.change_password .validation_msg {
	width:270px;
	margin-right:10px;
}
.dashboard_right {
	width:715px;
	float:right;
	margin-right:0px;
    margin-top:5px;
}
.dashboard_left {
	width:250px;
	float:right;
	margin-right:10px;
    margin-top:5px;
}
.dash_slider {
	width:100%;
	height:250px;
	float:right;
	margin-top:10px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
}
.right_ad {
	width:250px;
	height:260px;
    margin-top:0px;
	margin-bottom: 5px;
}

fieldset {
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	/*width: 679px;*/
	margin-top: 20px;
	margin-bottom:15px;
	padding-top:15px;
	padding-bottom:15px;
}
legend {
	border: 1px solid #EFEFEF;
	/*background:#EFEFEF;*/
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 30px;
	height: 37px;
}
.about span, .new_request span {
	width: 98.5%;
	float: right;
	text-align: justify;
	margin-right: 7px;
	line-height: 38px;
}
/********************************** link effect ********************************/
/* Effect 3 */

.effect3 a {
	text-decoration: none;
	color:#5F5F5F;
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
	display: inline-block;
	margin: 5px 0px;
	font-weight: 400;
	line-height:20px;
	overflow: hidden !important;
	padding: 0 5px;
	height: 20px;;
}

.effect3 a div {
	position: relative;
	display: inline-block;

	transition: transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

.effect3 a div::before {
	color: #773BA8;
	position: absolute;
	top: 100%;
	content: attr(data-hover);

	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.effect3 a:hover div,
.effect3 a:focus div {
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
/********************************** request_submitted Table ********************************/
.request_submitted .row {
	width: 580px;
	height: 50px;
	float: right;
	margin-right: 70px;
	background: #F7F7F7;
}
.request_submitted .odd {
	background: #EBEDEE;
}
.request_submitted .row .title {
	width: 140px;
	padding: 9px 5px 5px 5px;
	float: right;
	background: #edf3f4;
	color: #336199;
	border-right: 5px solid #edf3f4;
	font-size: 13px;
	font-weight: normal;
	height: 35px;
}
.request_submitted .row .odd {
	background: #DDE4E6;
	border-right: 5px solid #BFD2D8;
}	
.request_submitted .row .value {
	padding: 9px 15px 5px 5px;
	float: right;
	color: #5F5F5F;
	font-size: 13px;
    height:50px;
    width:400px;
}
.requestForm {
	width:680px;
	height:auto;
	float:right;
}
.requestForm_template, .keywords_template, .emails_template {
	width: 680px;
	height: 35px;
	float: right;
	padding: 10px 5px 10px 5px;
}
.keywords_template, .emails_template {
	width: 320px !important;
}
.keywords_controls, .emails_controls {
	width: 670px;
	height: 50px;
	float: right;	
	margin-top:-5px;
}
.requestForm_controls {
	width: 105px;
	height: 50px;
	float: right;	
}
/******************************************** table ****************************************/
.table_container {
	width: 680px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;	
}
.table {
	width:850px;
	height:auto;
	float:right;
	margin-top:20px;
	margin-right:80px;
}
td, th, td a {
	font-size:12px !important;
	text-decoration:none;
}
table {
	width:100%;
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	line-height: 24px;
	text-align: center;
	box-shadow: 3px 4px 2px #EBEBEB;; /*3px 4px 10px #CCCDD3;*/
	float:right;
}	
th {
	background: #79ADEA;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.12, #79ADEA), color-stop(1, #8FBAED) );
	background:-moz-linear-gradient(center bottom, #79ADEA 12%, #8FBAED 100%);
	color: #fff;
  	font-weight: bold;
	padding: 7px 2px;
	position: relative;
	/*border: 1px solid #5A6C79;*/
}


td {
	border-left: 2px solid #f5f5f5;
	padding: 8px 8px;
	position: relative;
	transition: all 300ms;
}


tr:nth-child(odd) td {
	background: #f1f1f1;	
}

tbody:hover td {
	/*color: transparent;
	text-shadow: 0 0 3px #aaa;*/
}
/*
tbody:hover tr:hover td {
	background:#DAE4E9;
	text-shadow: 0 1px 0 #fff;
}
tbody:hover td:hover {
	border-left:2px solid #0AF;
}
*/
.table_container .red {
	color:#E90000;
}
.table_container .green {
	color:#34B900;
}
.table_container .brown {
	color:#C79803;
}
.table_container a {
	display:block;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.table_container a.green:hover {
	text-shadow: 0 0 10px #27A200;
	transform: scale(1.05);
}
.table_container a.red:hover {
	text-shadow: 0 0 10px #F383B9;
	transform: scale(1.05);
}
.table_container a.brown:hover {
	text-shadow: 0 0 10px #FFA608;
	transform: scale(1.05);
}
/******************************************** horizontal menu ****************************************/
.hmenu, .alert {
	/*width:987px;
	height:35px;
	float:right;
	margin-top:10px;
	margin-bottom:0px;
	margin-right:0px;*/
}
.hmenu ul {
	/*margin: 0;
	padding: 0;*/
}
.hmenu ul li {
	/*display: inline-block;
	list-style-type: none;
	
	transition: all 300ms;*/
}
.hmenu ul li a {
	/*width: 80px;
	height: 31px;
	padding: 5px 5px 1px 5px;
	text-align:center;
	display: block;
	font-size: 13px;
	float: right;
	border-top: 2px solid #fff;
	transition: all 300ms;*/
}
 ul  li:hover {
  background-color: #F9FEFF;
}

 .hmenu ul li:hover a, .hmenu ul li a.selected {
	color: #6798FE;
	border-bottom: 2px solid #6798FE;
}
/******************************************** input ****************************************/
.register input {
	width:290px !important;
}
select {
	width: 238px !important;
	height: 33px !important;	
}

input[type="checkbox"]
{
    width:20px;
       
    }
    
input[type="text"],input[type="password"], textarea, select {
	width: 200px;
	height:28px;
	float:right;
	padding: 2px;
	/*margin: 5px 0;*/
	color: #666;
	background: #F9F9F9;
	border: 1px solid #ccc;
	border-left: 3px solid #00ADD8;
	margin-top: -5px;
	font-size: 12px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	vertical-align: top;
	transition: all 0.25s ease-in-out;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}
input:focus, textarea:focus, select:focus {
	border: 1px solid #ddd;
	background-color: #fff;
	color:#333;
	outline: none;
	position: relative;
	z-index: 5;

	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
input.submit, a.submit {
	width: 96px !important;
	height:33px;
	cursor: pointer;
	border: 0px;
	color:#fff;
	padding: 6px 10px 10px 10px;
	text-decoration: none;
	font-size: 13px;

/*	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
*/
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
input.submit, a.submit {
	background: #4997FA;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.12, #4997FA), color-stop(1, #59B8FF) );
	background:-moz-linear-gradient(center bottom, #4997FA 12%,	#59B8FF 100%);
}
input.submit:hover, a.submit:hover {
	background-color: #3F98DA !important;
	background-image: -webkit-linear-gradient(bottom,#3F98DA,#3F91CD);
	background-image: -moz-linear-gradient(bottom,#3F98DA,#3F91CD);
	background-image: -o-linear-gradient(bottom,#3F98DA,#3F91CD);
	background-image: linear-gradient(to top,#3F98DA,#3F91CD);
}
input.submit[disabled] { background:#888; }
input.largesubmit
{ 
  background: #4997FA;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.12, #4997FA), color-stop(1, #59B8FF) );
	background:-moz-linear-gradient(center bottom, #4997FA 12%,	#59B8FF 100%);
	 
	height:33px;
	cursor: pointer;
	border: 0px;
	color:#fff;
	padding: 6px 10px 10px 10px;
	text-decoration: none;
	font-size: 13px;

/*	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
*/
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}

/******************************************** footer ****************************************/
.footer_wrapper {
	width:100%;
	height:120px;
	background:#585858; /*#ececec;*/
	float:right;
	position:relative;
	font-size:12px;
	border-bottom: 1px solid #5E5E5E;
}
.footer_right {
	width:360px;
	float:right;
	margin-top:50px;
	margin-right:20px;
	text-align: -webkit-center;
	color:#CCCCCC;
	line-height:15px;
	font-size:12px;
}
.footer_middle {
	background:url(../images/footer.jpg);
	width:211px;
	height:115px;
	float:right;
}
.footer_left {
	width:405px;
	float:right;
	margin-top:50px;
	text-align: -webkit-center;
	color:#CCCCCC;
	line-height:15px;
	font-size:11px;
}

.ui-datepicker-header
{
    background-color:blue;
}
.ui-datepicker-month ,.ui-datepicker-year
{
    color:white;
}
.ui-datepicker-calendar th 
{
    background-color:#428aca;
}
.ui-datepicker-calendar th span
{
    color:white;
}
#grid-list table th
{
    text-align:center;
    padding:2px 3px;
}

.changePassword
{
    width: 365px;
}

.changePassword .title
{
    background: url("../images/box_password_reset.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


td.normal
{
    background-color:White;
    
    }
    
tr.normal
{
    background-color:White;
    
    }
    
    table.normal tr td 
    
{
    background-color:White;
    padding:0px;
    
    }
    
 table.normal tr td:hover 
    
{
    background-color:White;
    
    }
    
    table.normal tr:hover 
    
{
    background-color:White;
    
    }
    
    table.normal:hover 
    
{
    background-color:White;
    
    }
    
   table.normal:hover tr:hover td {
	background-color:White;
}
table.normal:hover td:hover {
	background-color:White;
}

table.normal:hover td:hover {
	border-left:2px solid white;
}

table.normal tr td {
	border-left: 2px solid white;
	
	
	
}

table.normal
{
    background-color:White;
    
    }
    /*
font.b
{
    font-weight: bold;
    background: #99CCFF;
    color: #000000;
}
    */
font.b
{
    font-weight: bold;
    background: #FFFF66;
    /*color: #000000;*/
}
a.colored
{ color:Blue;
}
table.supernormal {
	width:92%;
	 box-shadow:0px 0px 0px #FFFFFF;
	border-collapse: separate;
	 background-color:White;
 background:white;
	line-height: 24px;
	text-align: center;
	  margin-right:0;
	   padding:0;
}
tr.supernormal:nth-child(odd) td {
background: #FFFFFF;
}
td.supernormal 
{
    padding:0;
}
.b1 {
background-color:#FFFF99;color:red; text-decoration:none;font-weight:bold;
}
.b2 {
background-color:#FFFF99;color:green;text-decoration:none;font-weight:bold;
}
.b3 {
background-color:#FFFF99;color:blue;text-decoration:none;font-weight:bold;
}.b4 {
background-color:#FFFF99;color:#700000; text-decoration:none;font-weight:bold;
}
.b5 {
background-color:#FFFF99;color:#007000;text-decoration:none;font-weight:bold;
}
.b6 {
background-color:#FFFF99;color:#000070;text-decoration:none;font-weight:bold;
}
.b7 {
background-color:#FFFF99;color:#A00000; text-decoration:none;font-weight:bold;
}
.b8 {
background-color:#FFFF99;color:#00A000;text-decoration:none;font-weight:bold;
}
.b9 {
background-color:#FFFF99;color:#0000A0;text-decoration:none;font-weight:bold;
}
.b10 {
background-color:#FFFF99;color:#111111; text-decoration:none;font-weight:bold;
}
.b11 {
background-color:#FFFF99;color:#222222; text-decoration:none;font-weight:bold;
}

.b12 {
background-color:#FFFF99;color:#333333;text-decoration:none;font-weight:bold;
}
.b13 {
background-color:#FFFF99;color:#444444;text-decoration:none;font-weight:bold;
}.b14 {
background-color:#FFFF99;color:#555555; text-decoration:none;font-weight:bold;
}
.b15 {
background-color:#FFFF99;color:#666666;text-decoration:none;font-weight:bold;
}
.b16 {
background-color:#FFFF99;color:#777777;text-decoration:none;font-weight:bold;
}
.b17 {
background-color:#FFFF99;color:#888888; text-decoration:none;font-weight:bold;
}
.b18 {
background-color:#FFFF99;color:#999999;text-decoration:none;font-weight:bold;
}
.b19 {
background-color:#FFFF99;color:#AAAAAA;text-decoration:none;font-weight:bold;
}