.b1 {
background-color:#FFFF99;color:red; text-decoration:none;font-weight:bold;
}
.b2 {
background-color:#FFFF99;color:green;text-decoration:none;font-weight:bold;
}
.b3 {
background-color:#FFFF99;color:blue;text-decoration:none;font-weight:bold;
}.b4 {
background-color:#FFFF99;color:#700000; text-decoration:none;font-weight:bold;
}
.b5 {
background-color:#FFFF99;color:#007000;text-decoration:none;font-weight:bold;
}
.b6 {
background-color:#FFFF99;color:#000070;text-decoration:none;font-weight:bold;
}
.b7 {
background-color:#FFFF99;color:#A00000; text-decoration:none;font-weight:bold;
}
.b8 {
background-color:#FFFF99;color:#00A000;text-decoration:none;font-weight:bold;
}
.b9 {
background-color:#FFFF99;color:#0000A0;text-decoration:none;font-weight:bold;
}
.b10 {
background-color:#FFFF99;color:#111111; text-decoration:none;font-weight:bold;
}
.b11 {
background-color:#FFFF99;color:#222222; text-decoration:none;font-weight:bold;
}

.b12 {
background-color:#FFFF99;color:#333333;text-decoration:none;font-weight:bold;
}
.b13 {
background-color:#FFFF99;color:#444444;text-decoration:none;font-weight:bold;
}.b14 {
background-color:#FFFF99;color:#555555; text-decoration:none;font-weight:bold;
}
.b15 {
background-color:#FFFF99;color:#666666;text-decoration:none;font-weight:bold;
}
.b16 {
background-color:#FFFF99;color:#777777;text-decoration:none;font-weight:bold;
}
.b17 {
background-color:#FFFF99;color:#888888; text-decoration:none;font-weight:bold;
}
.b18 {
background-color:#FFFF99;color:#999999;text-decoration:none;font-weight:bold;
}
.b19 {
background-color:#FFFF99;color:#AAAAAA;text-decoration:none;font-weight:bold;
}