@{
    ViewBag.Title = "LearningPureAjaxWithJson";
}

<h2>LearningPureAjaxWithJson</h2>

<div id="divMessage"></div>
<div><input type="text" id="FirstName" /></div>
<div><input type="text" id="LastName" /></div>
<div><input type="submit" id="btnSubmit"/></div>

<script>
    $(document).ready(function () {
        $("input#btnSubmit").click(function () {

            var varLastName = $("input#LastName").val();
            var varFirstName = $("input#FirstName").val();

            var varData =
                '{"FirstName":"' + varFirstName + '","LastName":"' + varLastName + '"}';

            $.ajax({
                type: "POST",
                url: "GetJson03",
                data: varData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (e) {
                    $("#divMessage").text(e.MyMessage);



                },

                error: function (e) {
                    $("#divMessage").text("error on sending/recieving data!");

                }
        })
    })


    })
</script>

