@using HtmlHelper;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/TestRoles/Test1" method="post" >
    
    <input type="checkbox" id="item1" value="false" />
<input type="submit" value="send"/>
</form>
