<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
          <div class="col-sm-2 form-group">
              <label for="name">SSN</label>
              <input
                type="text"
                name="Id" 
                [(ngModel)]="employee.Id" 
                #FirstName="ngModel"
                id="Id"
                class="form-control"
                required
                >
            </div>
        <div class="col-sm-2 form-group">
          <label for="name">FirstName</label>
          <input
            type="text"
            name="FirstName" 
            [(ngModel)]="employee.FirstName" 
            #FirstName="ngModel"
            id="FirstName"
            class="form-control"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">LastName</label>
          <input
            type="text"
            name="LastName" 
            [(ngModel)]="employee.LastName" 
            #LastName="ngModel"
            id="LastName"
            class="form-control"
            required
            >
        </div>

        <div class="col-sm-2 form-group">
          <label for="name">Salary</label>
          <input
            type="number"
            name="Salary" 
            [(ngModel)]="employee.Salary" 
            #Salary="ngModel"
            id="Salary"
            class="form-control"
            (input)="employee.calculateNetPay()"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Taxes</label>
          <input
            type="number"
            name="TaxesPercentage" 
            [(ngModel)]="employee.TaxesPercentage" 
            #Salary="ngModel"
            id="TaxesPercentage"
            class="form-control"
            (input)="employee.calculateNetPay()"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">FICA</label>
          <input
            type="number"
            name="FICAPercentage" 
            [(ngModel)]="employee.FICAPercentage" 
            #FICAPercentage="ngModel"
            id="FICAPercentage"
            class="form-control"
            (input)="employee.calculateNetPay()"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">PreTax</label>
          <input
            type="number"
            name="PreTaxPercentage" 
            [(ngModel)]="employee.PreTaxPercentage" 
            #PreTaxPercentage="ngModel"
            id="PreTaxPercentage"
            class="form-control"
            (input)="employee.calculateNetPay()"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">PostTax</label>
          <input
            type="number"
            name="PostTaxPercentage" 
            [(ngModel)]="employee.PostTaxPercentage" 
            #PostTaxPercentage="ngModel"
            id="PostTaxPercentage"
            class="form-control"
            (input)="employee.calculateNetPay()"
            required
            >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">NetPay</label>
          <input
            type="number"
            name="NetPay" 
            [(ngModel)]="employee.NetPay" 
            #NetPay="ngModel"
            id="NetPay"
            class="form-control"
            >
        </div>
        
        
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddEmployee()">Add</button>
          <button class="btn btn-danger" type="button" (click)="onSaveEmployee()">Save</button>
          <button class="btn btn-primary" type="button" (click)="onClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
