<!--developed by Mohammad Parsi.-->

<div class="media mb-4">
  <div class="media-body">
    <h5 class="mt-0">{{commenterName}}</h5>
    <textarea columns="100" id="textBox" [disabled]="!isEditable"  *ngIf="auth.getPro().email===userId" value={{commentText}} (input)="message=$event.target.value"></textarea>
    <div *ngIf="auth.getPro().email!==userId" >{{commentText}}</div>

    <div *ngIf="auth.getPro().email===userId" ><button (click)="onEdit()" >Edit</button>
      <button (click)="onAccept()" >Accept</button></div>
  </div>
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  {{userId}}
</div>
<ng-content></ng-content>
