<!DOCTYPE html>
<html>
<head>
    <title>Display Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Add Location Points</h1>
<form action="add" method="post">
    Name:
    <input type="text" name="name"/>
    </br>
    </br>
    Category:
    <input type="text" name="category"/>
    </br>
    </br>
    Longitude:
    <input type="text" name="longitude"/>
    </br>
    </br>
    Latitude:
    <input type="text" name="latitude"/>
    </br>
    </br>
    <button type="submit">Add Point</button>

    </br>
    </br>
    <a href="display">Go To Points Display Page</a>
</form>
</body>
</html>
