
@{
    ViewBag.Title = Resources.DisplayNames.FAQ;
    ViewBag.LayoutType = "JustText";
    string strHtmlContent;

    using (MvcEshop.Models.DFEntities oDFEntities = new MvcEshop.Models.DFEntities())
    {
        strHtmlContent =
                oDFEntities.Pages
                .Where(current => current.PageId == 5)
                .ToList().FirstOrDefault().PageContent;

    }

}

@Html.Raw(strHtmlContent)

@*<span style="font-size: 10pt; margin-top: 9px; line-height: 37px; width: 100%;">
    <p class="question">&#9679;&nbsp;&nbsp;چگونه می‌توان از همانندجو استفاده کرد؟</p>
    <p class="answer">
        در اجرای آزمایشی، به استادان دانشگاه‌های صنعتی اصفهان، علامه طباطبایی، تربیت مدرس،
        فردوسی مشهد، آزاد اسلامی (تهران مرکز) خدمات همانندجویی ارائه می‌شود. پس از این مرحله،
        این سامانه در اختیار دیگران نیز قرار خواهد گرفت.
    </p>
    <p class="question">
        &#9679;&nbsp;&nbsp;همانندجو
        در چه منابعی جست‌وجو می‌کند؟
    </p>
    <p class="answer">
        همانندجو هم‌اکنون همانندی نوشتارها
        را در متن کامل و در حال افزایش بیش از 100 هزار عنوان از تازه‌ترین پایان‌نامه‌ها
        و رساله‌ها (1387-1393) جست‌وجو و گزارش می‌کند. پس از اجرای آزمایشی، این منابع افزایش
        خواهند یافت.
    </p>
    <p class="question">
        &#9679;&nbsp;&nbsp;آیا همانندی نوشتارها با منابع اینترنتی هم
        بررسی می‌شود؟
    </p><p class="answer">
        در اجرای آزمایشی، همانندی نوشتارها با منابع
        اینترنتی بررسی نمی‌شود، ولی پس از اجرای آزمایشی، این امکان نیز فراهم خواهد بود.
    </p>
    <p class="question">
        &#9679;&nbsp;&nbsp;آیا همانندجویی هزینه‌ای در بر دارد؟
    </p>
    <p class="answer">همانندجویی در اجرای آزمایشی هزینه‌ای در بر ندارد. </p>
</span>*@


@*<p>&#9679;&nbsp;&nbsp;چگونه می‌توان از همانندجو استفاده کرد؟</p>
<p>
    در اجرای آزمایشی، به استادان دانشگاه‌های صنعتی اصفهان، علامه طباطبایی، تربیت مدرس،
    فردوسی مشهد، آزاد اسلامی (تهران مرکز) خدمات همانندجویی ارائه می‌شود. پس از این مرحله،
    این سامانه در اختیار دیگران نیز قرار خواهد گرفت.
</p>
<p>
    &#9679;&nbsp;&nbsp;همانندجو
    در چه منابعی جست‌وجو می‌کند؟
</p>
<p>
    همانندجو هم‌اکنون همانندی نوشتارها
    را در متن کامل و در حال افزایش بیش از 100 هزار عنوان از تازه‌ترین پایان‌نامه‌ها
    و رساله‌ها (1387-1393) جست‌وجو و گزارش می‌کند. پس از اجرای آزمایشی، این منابع افزایش
    خواهند یافت.
</p>
<p>
    &#9679;&nbsp;&nbsp;آیا همانندی نوشتارها با منابع اینترنتی هم
    بررسی می‌شود؟
</p><p>
    در اجرای آزمایشی، همانندی نوشتارها با منابع
    اینترنتی بررسی نمی‌شود، ولی پس از اجرای آزمایشی، این امکان نیز فراهم خواهد بود.
</p>
<p>
    &#9679;&nbsp;&nbsp;آیا همانندجویی هزینه‌ای در بر دارد؟
</p>
<p>همانندجویی در اجرای آزمایشی هزینه‌ای در بر ندارد. </p>*@

<script type="text/javascript">
            $(document).ready(function () {

                $("#lnkFAQs").addClass("selected");

            });


</script>