
@{
    ViewBag.Title = Resources.DisplayNames.Rights;
    ViewBag.LayoutType = "JustText";
    string strHtmlContent;

    using (MvcEshop.Models.DFEntities oDFEntities = new MvcEshop.Models.DFEntities())
    {
        strHtmlContent =
                oDFEntities.Pages
                .Where(current => current.PageId == 3)
                .ToList().FirstOrDefault().PageContent;

    }

}

@Html.Raw(strHtmlContent)

@*همانندی گزارش شده میان نوشته‌هایی که در همانند‌جو بارگذاری می‌شوند،
                    چیزی را نشان نمی‌دهد و هر گونه داوری درباره‌ی آنها با کاربران و سازمان‌هایی است
                    که از گزارش‌های آن بهره می‌برند.<br />
                    نوشته‌هایی که در این سامانه بارگذاری می‌شوند، برای همانندجویی دیگر نوشته‌ها به‌کار
                    می‌روند.<br />
                    اطلاعات شخصی و نوشته‌هایی که در این سامانه بارگذاری می‌شوند، به جز آنجایی که قانون
                    الزام کند، در اختیار دیگران قرار نمی‌گیرند؛ ولی بازديدها، ذخيره و اطلاعات زير براي
                    تحليل و ارائه‌ی گزارش‌هاي آماري و مدیریتی ثبت می‌شود:<br />
<ul>
    <li>نشاني سرور و نوع دامنه‌ی كاربر؛</li>
    <li>مشخصات کاربر (به جز نام و نام خانوادگی)؛</li>
    <li>فعالیت کاربر (Log) در سامانه؛</li>
    <li>نتایج همانندجویی.</li>
</ul>

اگر کاربرد همانندجو با عضویت سازمانی باشد، اطلاعات شخصی و نوشته‌هایی که در
                    این سامانه‌ بارگذاری می‌شوند، در اختیار سازمان و کسانی نیز قرار می‌گیرند که هر سازمان
                    تعیین می‌کند (این گزینه پس از اجرای آزمایشی راه‌اندازی می‌شود).*@ 

<script type="text/javascript">
            $(document).ready(function () {

                $("#lnkRights").addClass("selected");

            });


</script>